.info-box{
    /* color: grey; */
    transition: 0.2s ease-in-out;
    /* border: 1px solid transparent; */
    /* box-shadow: none; */
    /* border-radius: 50px; */
    min-height: 0px;
    cursor: default;
}
.info-box:hover{
    /* box-shadow: 1px 5px 10px solid black!important; */
    background-color: #f8f9fa;
    /* transform: scale(0.925); */
}
.btn-custom-delete{
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.btn-custom-delete:hover{
    transform: scale(1.1);
}
.info-box:hover .btn-custom-delete{
    color: red!important;    
}