# ignore a single file

# ignore an entire directory
public_html/plugins/
public_html/soal/
public_html/img/soal_gambar/
App/vendor/

# ignore a file type

# add an exception (using !) to the preceding rule to track a specific file
/vendor/
